{% extends 'base_home.html'%}


{% block head %}
<title>Analisis Inteligentes de datos</title>
{% endblock %}


{% block body %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Análisis Inteligente de Datos</h1>
    
  </div>

  
  <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->
<div id="in">

  <h2>Introducción</h2>
  <p class="text-justify" style="font-size: 16px;">
    El análisis inteligente de datos se refiere a métodos de análisis que utilizan herramientas 
    de análisis de datos como estadísticas, reconocimiento de patrones, aprendizaje 
    automático y abstracción de datos para descubrir el conocimiento de los datos.
  </p>
  <div class="">
    <h3>Existen principalmente 4 fases de análisis:</h3>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Recolección:</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Pre-procesamiento: </a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Representación: </a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Análisis:</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"><p class="text-justify" style="font-size: 16px;">
          Este proceso se caracteriza por el hecho que la entrada está constituida 
          por los datos originales, tomados de las fuentes originales y la salida son los datos 
          difusos, de los cuales podemos extraer información. Por eso también se le como 
          “adquisición” tomar todos los datos con variedad de fuentes
        </p></div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"><p class="text-justify" style="font-size: 16px;">
          Esta etapa se caracteriza porque tanto entrada como salida son datos de la misma naturaleza.
        </p></div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"><p class="text-justify" style="font-size: 16px;">
          En esta etapa los datos pre-procesados son transformados en una 
          nueva forma que es la adecuada para el procesamiento posterior en otras palabras es 
          como lo vamos a representar (ejemplo: grafica o tablas).
        </p></div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"><p class="text-justify" style="font-size: 16px;">
          Proceso en el cual encontramos el significado de los datos originales, o al 
          menos una parte de ellos Podemos reconocer la ocurrencia de cierta información´ 
          previamente almacenada y podemos tomar una decisión o conclusión.
        </p></div>
      </div>
    </div>`
  </div>
</div>

<hr/>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
  <h3><kbd>Fase 1:</kbd>Recoleccion</h3>
  <br>
  <p class="text-justify" style="font-size: 16px;">Para la recolección de datos se hará uso de las bases de datos DVDRental(PostgreSQL) y 
    Adventureworks (MSSQL).información debe “normalizarse” descartando datos que no se puedan juntar en ambas Base de datos. Por tal motivo el formato 
    de la tabla resultante tendrá los siguientes datos: id, name, address, zip, phone, city, contry y email.</p>
  <p class="text-justify" style="font-size: 16px;">
     Finalmente, para poder juntar las bases de datos se realizará un programa escrito en Python, con el que se usará el controlador 
     pyODBC para las conexiones de ambas bases de datos. Además, al ser un programa orientado al web, tiene como uso el framework Flask 
     para poder construir la página web. Se utilizará el comando COPY para agregar todo el dato a la nueva base de datos en PostgreSQL
  </p>
  <div class="col d-flex align-items-center justify-content-center">
    <img src="https://res.cloudinary.com/pixies/image/upload/v1605510557/project/DIAGRAMArosa_imsnhj.png" alt="">
  </div>
  
</div>
<br>
  <div class="card border-bottom   text-white bg-dark">
    <div class="card-header">
      Analisis de datos 
    </div>
    <div class="card-body">
      <h5 class="card-title">Nueva Base de datos {{griselda}}</h5>
      <p class="card-text">Siguiente Informacion contierne los datos obtenidos de la base de datos dvdrental y ADVENTUREWORKS2017</p>
     
        <button id="btnMostrar" name="submit_button" value="Hola bebe" class="btn btn-outline-warning">Unir datos</button>
     <!-- <button id="submit" name="submit_button" value="Hola bebes" class="btn btn-outline-danger">Borrar datos</button> -->
      
      
    </div>
    <div class="card-footer text-muted">
     Equipo Desarrollo: Alex Cassio,Hiram Sifuentes y Victor Nava
    </div>
  </div>

<div id="informacion" style="display: none;">


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Reporte de Analisis</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{{url_for('pdfDownload')}}" class="btn btn-outline-secondary" target="_blank">Exportar a pdf</a>
      </div>
    </div>
  </div>

  <!--Contenedor con los daos de la fase 2-->
  <div class="shadow-lg p-3 mb-5 bg-white rounded"> 
    <h3><kbd>Fase 2:</kbd>Preprocesamiento</h3>
    <br>
    <h4>Conceptos</h4>
    <p class="text-justify" style="font-size: 16px;">Para poder comenzar a trabajar en la segunda fase se investigó sobre la media, 
      mediana y moda, las cuales son la herramienta necesaria para poder observar que parte es en la que más me conviene trabajar.</p>
    <p class="text-justify" style="font-size: 16px;">
      Nosotros previamente seleccionamos las tablas de cliente de ambas bases datos, con el objetivo buscar una estrategia para las 
      diferentes áreas, en donde no tenga un gran impacto, por ejemplo, como los países con menos clientes de 20 o menos. 
      Además de buscar un patrón en esos países no compiten con los países con mayores clientes. Dar una solución para fortalecer 
      as áreas con menores clientes.    
    </p>
    <hr/>
    <h3>Tabla Con los Clientes de ambas base de datos</h3>
    <div class="table-responsive border-bottom">
      <table id="dataframe" class="table table-striped table-sm table-hover display nowrap" cellspacing="0">
        <thead>
          <tr class="table-dark">
            <th>id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Direcccion</th>
            <th>Zip code</th>
            <th>Phone</th>
            <th>Ciudad</th>
            <th>Pais</th>
          </tr>
        </thead>
        <tbody>  
        </tbody>
        <tfoot></tfoot>
      </table>
      <hr>
    </div>
<!--Informacion sobre la media,moda,media-->
<div class="card-deck">
  <div class="card border-dark mb-3" style="max-width: 28rem;">
    <h5 class="card-header">Países en total</h5>
    <div class="card-body">
      <h3 class="card-title text-center">109</h3>
      <p class="card-text">Total De Registros: 19,107</p>
      <p class="card-text"><small class="text-muted">Total De resgitros 19107</small></p>
    </div>
  </div>
  <div class="card text-white bg-dark" style="max-width: 28rem;">
    <h5 class="card-header">Mediana</h5>
    <div class="card-body">
      <h3 class="card-title text-center">{{estadi[1]}}</h3>
      <p class="card-text">Clientes</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card text-white bg-dark" style="max-width: 28rem;">
    <h5 class="card-header">Media</h5>
    <div class="card-body">
      <h3 class="card-title text-center">{{estadi[0]}}</h3>
      <p class="card-text">Clientes</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card text-white bg-dark" style="max-width: 28rem;">
    <h5 class="card-header">Moda</h5>
    <div class="card-body">
      <h3 class="card-title text-center">{{estadi[2]}}</h3>
      <p class="card-text">Clientes</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
<div class="border-top my-3"></div>
<!--Tablas con los valores -->
<div class="text-center">
  <h2>Datos Agrupados por Clientes</h2>
</div>
<div class="row">
 <!--Tablas-->
  <div class="col">
    <div class="border-bottom border-primary"><h3>Datos Por debajo de la media</h3></div>
    
    <h4 style="font-style: italic;">Total Registros: <span id="cantid" class="badge badge-pill badge-primary">n</span></h4>
    <!--Tabla  con los valor menores-->
<div class="table-responsive-sm border-bottom">
<table id="tbl_s" class="table table-striped  table-sm table-hover table-bordered dt-responsive nowrap" style="width: 100%;">
<thead>
  <tr class="table-dark">
    <th>Pais</th>
    <th>Numero De clientes</th>
  </tr>
</thead>
<tbody> 
  {% for i in grupo_menor %}
      <tr>
        <td>{{i[0]}}</td>
        <td style="text-align: center;">{{i[1]}}</td>
      </tr>
  {% endfor %} 
</tbody>
</table>
<hr>
</div>
  </div>

    <!--Valores de la moda-->
    <div class="col">
      <div class="border-bottom border-primary"><h3>Valores son iguales a la moda</h3></div>

      <h4 style="font-style: italic;">Total Registros: <span id="cantidad" class="badge badge-pill badge-primary">n</span></h4>
      <!--Tabla  con los valor igulaes a la moda-->
  <div class="table-responsive-sm border-bottom">
   <table id="tbl_m" class="table table-striped table-sm  table-hover table-bordered dt-responsive nowrap" style="width: 100%;">
     <thead>
       <tr class="table-dark">
         <th>Pais</th>
         <th>Numero De clientes</th>
       </tr>
     </thead>
     <tbody> 
       {% for j in grupo_moda %}
           <tr>
             <td>{{j[0]}}</td>
             <td style="text-align: center;" >{{j[1]}}</td>
           </tr>
       {% endfor %} 
     </tbody>
     <tfoot>
      <tr class="table-dark">
        <th>Pais</th>
        <th>Numero De clientes</th>
      </tr>
     </tfoot>
   </table>
   <hr>
  </div>
    </div>

<!--Valores de media-->
  <div class="col">
    <div class="border-bottom border-primary"><h3>Datos Por encima de la media</h3></div>
    <h4 style="font-style: italic;">Total Registros: <span id="cantida" class="badge badge-pill badge-primary">n</span></h4>
     <!--Tabla  con los valor mayores-->
     <div id="t_gr" class="table-responsive-sm border-bottom ">
<table id="tbl_g" class="table table-striped table-sm table-hover table-bordered dt-responsive nowrap" style="width: 100%;">
  <thead>
    <tr class="table-dark">
      <th>Pais</th>
      <th>Numero De clientes</th>
    </tr>
  </thead>
  <tbody> 
    {% for fs in grupo_mayor %}
        <tr>
          <td>{{fs[0]}}</td>
          <td style="text-align: center; padding: 0px;">{{fs[1]}}</td>
        </tr>
    {% endfor %} 
  </tbody>
</table>
<hr>
</div>
  </div>

</div>
  <br>
  
<!---style="width: 600px; height: 400px"-->
  <div id="world-map" style="width: 600px; height: 400px"></div>
  <hr>
 <canvas class="my-4 w-100" id="gph_cutipa" width="900" height="380"></canvas>
</div>
{% endblock %}
{% block tail_js %}
<!-- <script src="{{url_for('static',filename='js/data-json.js')}}"></script> -->
<script>
  var btn1 = $('#btnMostrar');
$(document).ready( function () {
 //tabla con mayores
 var tb_m = $('#tbl_g').DataTable({
    responsive:true,
    dom:"rti"
  });
  //tabla con los valores menores
var tbl_s =   $('#tbl_s').DataTable({
    responsive:true,
    dom:"<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'i>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-12 col-md-7'p><'col-sm-12 col-md-5'>>"
  });
  //tabla con los valores moda
 var tb =   $('#tbl_m').DataTable({
    responsive:true,
    pageLength:50,
    dom:'<"top"i>rt<"bottom"f><"clear">'
  });

document.querySelector('#cantida').innerHTML ="N:" + tb_m.rows().count();
document.querySelector('#cantid').innerHTML ="N:" + tbl_s.rows().count();
document.querySelector('#cantidad').innerHTML ="N:" + tb.rows().count();
  //tabla dde MS-SQL
  $('#dataframe').DataTable({
  processing:true,
  responsive:true,
  ajax:"{{url_for('showdd')}}",
  columns:[
          { "data": "ID" },
          { "data": "firstName" },
          { "data": "email" },
          { "data": "address" },
          { "data": "zip" },
          { "data": "phone" },
          { "data": "ciudad" },
          { "data": "country" }

  ],
  dom:'Bfrtilp',
  buttons:[

  {
              "extend":'pdfHtml5',
              "text":'<i class="fas fa-file-pdf">&nbsp;PDF</i>',
              "titleAttr":'Exportar a PDF',
              "className":'btn btn-outline-danger'
          },
          

          {
              "extend":'excel',
              "text":'<i class="far fa-file-excel">&nbsp;Excel</i>',
              "titleAttr":'excel',
              "className":'btn-outline-success'
          },
  ]
});

//boton que muestra la informacion de la fase 2
btn1.on("click", function(){

var datito;
//Obtner los datos agrupados
$.getJSON("{{url_for('paisG')}}",function(data){
  var salve =null;
  var codeName = {};
  var ncode;
  var ncame;
  var cnts ={}
  var continentsByGruoup ={}
//datos por continent?
$.ajax(
{
  url: "{{url_for('continentss')}}",
  dataType: "json",
  async: false,
  success: function(data)
  {
    var continente = data.map(function(s){
      return s.continent;
    });
    var pais = data.map(function(s){
      return s.country;
    })
   
   for (let i = 0; i < continente.length; i++) {
        cnts[pais[i]] = continente[i]; 
   }

  }
});
  //Obtner los datos con code EU necesarios par mapa
$.ajax(
{
  url: "{{url_for('codeguito')}}",
  dataType: "json",
  async: false,
  success: function(data)
  {
    salve = data;
  }
});
//obtner los datos por pais code?
$.ajax(
{
  url: "{{url_for('codegui')}}",
  dataType: "json",
  async: false,
  success: function(data)
  {
    ncode = data.map(function(d){
      return d.Code
    });
    ncame = data.map(function(d){
      return d.Name
    });
    
    for(var j=0; j <ncode.length;j++){
      codeName[ncame[j]] =ncode[j]; 
    }
  }
}); 

function cats(datito){

  if(datito === "Kazakstan"){
    var menso = "Kazakhstan"
    return menso;
  }else if(datito == "Congo, The Democratic Republic of the"){
    var menso = "The Democratic Republic of Congo";
    return menso;
  }else{
    return datito;
  }

}
var piss;
var nCliente;
var objs = {};
//objeto de pruebas
var abs = {}
var noodle;
//obtner los datos del json en separados
piss = data.data.map(function(d){
return d.Pais
});

nCliente = data.data.map(function(d){
return d.NumeroClientes
});
//los datos obtneidos convertidos en objeto para su manupulacion
for(var i=0;i< piss.length;i++){
  objs[piss[i]] = nCliente[i];
}

//pruebas
for(var i=0;i<piss.length;i++){
 
  var sorete = codeName[piss[i]]
  abs[sorete] = nCliente[i] 
}
//obtner la lista de pais por continentes continentsByGruoup
var nelson;
var asia = 0;
for (let k = 0; k < piss.length; k++) {
    var soledads = cats(piss[k])
    var coconout = cnts[soledads]

    if( coconout === "Asia"){

      asia  = (nCliente[k] * 100) / 19107;
    }
      
    
}
console.log(asia)

//var valores = jvm.values.apply({},jvm.values(objs))
$('#world-map').vectorMap({
map: 'world_mill',
series: {
regions: [{
  values:abs,
  scale:  ['#FEE5D9', '#A50F15'],
  normalizeFunction: 'polynomial',
  legend:{
    vertical:true
  }
}]
},
onRegionTipShow: function(e, el, code){
  noodle = salve[code]
  el.html(el.html()+' Numero de clientes - '+abs[code]+')');
}

});

});

mostrarDatos();
$('#informacion').show();


});

});//final

function mostrarDatos() {
//Tabla de analisis con los datos unidos

var table4 = $('#tbl_paiss').DataTable({
  processing:true,
  responsive:true,
  ajax:"{{url_for('paisG')}}",
  columns:[
          { "data": "Pais" },
          { "data": "NumeroClientes" }
  ],
  dom:'Bfrtilp',
  buttons:[

  {
              "extend":'pdfHtml5',
              "text":'<i class="fas fa-file-pdf">&nbsp;PDF</i>',
              "titleAttr":'Exportar a PDF',
              "className":'btn btn-outline-danger'
          },
          {
              "extend":'excel',
              "text":'<i class="far fa-file-excel">&nbsp;Excel</i>',
              "titleAttr":'excel',
              "className":'btn-outline-success'
          },
  ]
});



}
</script>
{% endblock %}